
@use '~/_breakpoint.scss' as *;
//FOOTER 

.footer-signup_input
{
    height:100%;
    border:none;
    font-size: 1rem;
    flex:1;
    &:focus 
    {
        outline: none;
    }
    @include xs
    {
        font-size: 1.4rem;
    }
}
.link-title 
{
    padding:15px 0;
    font-weight: 600;
    font-size: var(--fs-md);
    // @include mobile 
    // {
    //     font-size: 1.4rem;
    // }

}
.link-type
{
    padding:5px 0 15px;
    font-size: var(--fs-md);
    // @include mobile 
    // {
    //     font-size: 1.4rem;
    // }
}
.privacy 
{
    .privacy-item 
    {
        padding: 0px 10px;
        font-size:var(--fs-md);
        line-height: 1rem;
        height: auto;
        border-right: 1px solid #9E9E9E;
        white-space: normal;
        
        @include xs {
            border-right: none;
            border-bottom:1px solid #616161;
            padding: 12px 0;
        }
        
        &:first-child
        {
            padding-left: 0px;
        }
        &:last-child
        {
            border-right: none;
        }
    }
}
.copyright
{
    padding: 10px 0px;
    font-size: var(--fs-md);
    line-height: 16px;
    margin-right: 0;
    color:#9E9E9E;
    text-align: left;
    
    
}
